<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="Academy.Listeners" />
        <listener class-name="ExtentReporterNG"/>
    </listeners>
    <test verbose="2" preserve-order="true" name="HomePage">
        <classes>
            <class name="Academy.HomePage" />
        </classes>
    </test>
    <test name="ValidateNavigationBar">
        <classes>
            <class name="Academy.validateNavigationBar" />
        </classes>
    </test>
</suite>