<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Guru99 Testing" thread-count="3" parallel="methods">
    <test name="Guru99" enabled="false">
        <classes>
            <class name="Guru99VerifyLogin"/>
        </classes>
    </test>

    <test name="Google" enabled="false">
        <classes>
            <class name="GoogleSearch"/>
        </classes>
    </test>

    <test name="Parallel Testing" enabled="false">
        <classes>
            <class name="ParallelExecution"/>
        </classes>
    </test>

    <test name="Test">
        <classes>
            <class name="BasicTest"/>
        </classes>
    </test>
</suite>